GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET=your-bigquery-dataset
BQ_TABLE=your-bigquery-table
PUBSUB_SUB_ID=your-pubsub-subscription-id
DEFAULT_HOURS=24
FIRESTORE_DB=location-db
FIRESTORE_COLLECTION=locations
